* {
  box-sizing: border-box;
  background-color: #172c4b;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

//span {
//  display: block;
//  font-family: Helvetica, serif;
//  font-style: normal;
//  letter-spacing: 0.5em;
//  font-weight: 1000;
//  font-size: 1.3vw;
//  line-height: 0.1vw;
//  text-transform: uppercase;
//  color: grey;
//  text-align: center;
//}